
<div class="grid grid-cols-3 gap-[80px] px-[86px] border-5 border-red-400">
  
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[20px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
     </div>
    </div>
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Talent & Quality</h5>
    <p class="text-white font-montRegular text-[20px]">Viele junge, gut ausgebildete und motivierte Menschen</p>
     </div>
    </div>
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Location</h5>
    <p class="text-white font-montRegular text-[20px]">Rwanda befindet sich in der selben Zeitzone wie die DACH Region</p>
     </div>
    </div>
  </div>
  