<footer class="flex flex-col py-14 pb-4 lg:flex-row text-white lg:justify-between lg:items-center">
    <div class="logo w-2/4 lg:w-2/3">
        <img src="/src/assets/media/Ojemba-logo.svg" alt="ojemba logo" height="66" width="224">
    </div>
    <nav class="w-3/4 lg:w-2/3 font-robotoBold text-[1rem] lg:text-[1.125rem]">
        <ul class="flex py-8 flex-col gap-8 lg:flex-row justify-evenly">
            <li class="hover:text-yellowlighter hover:underline"><a href="#">Impressum</a></li>
            <li class="hover:text-yellowlighter hover:underline"><a href="#">Datenschutz</a></li>
            <li class="hover:text-yellowlighter hover:underline"><a href="#">FAQ</a></li>
            <li class="hover:text-yellowlighter hover:underline"><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</footer>