
<header id="header" class="flex items-center  justify-between py-[24px]">
    <div class="logo w-[40%] lg:w-[25%]">
        <img src="/src/Assets/media/Ojemba-logo.svg" alt="ojemba logo">
    </div>
    <nav class="hidden lg:block">
        <ul class=" lg:flex font-robotoBold text-white gap-[32px] text-[14px] " >
            <li ><a href="#">Services</a></li>
            <li ><a href="#">Über uns</a></li>
            <li class=""><a href="#">Über uns</a></li>
            <li><a href="#">Darum wir</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Über Ruanda</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
            <li class="flex flex-col">
                <a href="#">DE</a>
                <a href="#" class="font-montRegular">EN</a>
            </li>
        </ul>
    </nav>
    <div class="w-[24px] lg:hidden">
        <img src="/src/Assets/media/menu-icon.svg" alt="menu-humberg">
    </div>
</header>