



<header id="header" class=" bg-gradient-to-r  from-secondary to-darkest fixed top-0 z-40 flex items-center wrapper-sm lg:wrapper-lg justify-between py-[24px]">



    <div class="logo">
        <img src="/src/Assets/media/Ojemba-logo.svg" alt="lll">
    </div>
    
    <nav>

        <div class="lg:hidden w-[20px] relative left-14" >
            <img src="/src/Assets/media/menu-icon.svg" alt="">
        </div>
        

        <ul class=" hidden lg:flex font-robotoBold transition text-white gap-[32px] text-[18px] lg:relative left-[170px]" >
            <li><a href="#managedTeams">Services</a></li>
            <li><a href="#unsere-teams">Über uns</a></li>
            <li><a href="#skillset-section">Darum wir</a></li>
            <li><a href="#qualitat-section">Team</a></li>
            <li><a href="#ruanda">Über Ruanda</a></li>
            <li><a href="#maibornWolf">FAQ</a></li>
            <li><a href="#kotakt">Kontakt</a></li>
            <li class="flex flex-col">
                <a href="#">DE</a>
                <a href="#" class="font-montRegular">EN</a>
            </li>

        </ul>
    </nav>
    <div>
        
    </div>
</header>
<script>
   
</script>
