<section  class="grid  lg:grid-cols-2 mt-[50px]">
    <div class="py-6 text-white text-[30px] lg:text-[54px] font-ralewayBold lg:pt-14 lg:leading-tight lg:w-[120%]">
        <p>Win-Win:</p>
        <p class="flex lg:gap-6"> <span>Europas</span> <span  class="text-primary">Digitalisierung </span></p>
        <p class="">profitiert von Afrikas Talenten</p>
        <p class="text-sm font-montRegular my-6 lg:mt-[20px]">Erweiteren Sie Ihre Entwicklungsteams mit Ojemba</p>
    </div>
    <div class="pt-10 lg:overflow-x-hidden lg:-ml-10 lg:translate-x-10 lg:translate-y-11 lg:scale-125 lg:relative left-[40px]">
        <img class="" src="/src/Assets/media/Ojembees1.webp" alt="ojemba developers">
    </div>
</section>