<section class="hero-container " id="main">
    
    
    
    
    <section  class="grid  lg:grid-cols-2 mt-[50px]">
    
        <div class="text-white text-[30px] lg:text-[55px] font-ralewayBold">
    
    <p>Win-Win:</p>
    <p class="flex gap-5"> <span>Europas</span> <span  class="text-primary">Digitalisierung </span></p>
    <p>profitiert von Afrikas Talenten</p>
     <p class="text-[14px] font-montRegular lg:mt-[20px]">Erweiteren Sie Ihre Entwicklungsteams mit Ojemba</p>
    </div>
    
    
    <div class="lg:overflow-x-hidden lg:-ml-10 lg:translate-x-10 lg:translate-y-11 lg:scale-125">
        <img class="" src="/src/Assets/media/Ojembees1.webp" alt="picture of ojemba developers">
    </div>
    
    
    
    
    
    </section>
    <section class="bg-gradient-to-r  from-secondary to-darkest relative top-5 scale-120">
    
    
<div class="grid grid-cols-3 gap-[80px] px-[86px]">
  
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[15px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
    
     </div>
    </div>
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Handshake-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[15px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
    
     </div>
    </div>
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Map-pin-line-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[15px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
    
     </div>
    </div>
  </div>
  
    
    </section>
</section>
