<div class="transform -skew-y-3 ">
<div class="  lg:w-[34.375rem] py-16">
    <p class="font-ralewayBold leading-[2.125rem]">MaibornWolff x The Gym x Maliyo</p>
    <p class="font-semibold">Für das Training werden die Erfahrung und das Wissen über erfolgreiche Softwareprojekte kombiniert mit dem standortspezifischen ...</p>
</div>
<section class="flex flex-col gap-20 py-5 lg:py-20">
    <div class="grid grid-cols-2 items-center lg:px-20 ">
        <div>
            <img src="/src/assets/media/Mw-logo.svg" alt="Maibornwolff Logo">
        </div>
        <div class="flex  flex-col ">
            <div class="flex items-center lg:flex-row flex-col  gap-4">
                <img src="/src/assets/media/speed.png" alt="Speed Logo">
                <img src="/src/assets/media/sthsl.png" alt=" sthsl Logo">
                <img src="/src/assets/media/miele.png" alt="Miele Logo">
            </div>
            <p class="text-[0.5625rem] lg:text-[0.9375rem] ml-2 lg:ml-0">haben Produkte und Prozesse vom   <span class="font-montBold">internationaler IT Dienstleister</span> digitalisieren lassen</p>
        </div>
    </div>
    <div class="grid grid-cols-2 items-center lg:px-20 ">
        <div>
            <img src="/src/assets/media/Maliyo-games-logo.svg" alt="Maliyo Logo">
        </div>
        <div class="flex  flex-col ">
            <div class="flex items-center  lg:flex-row flex-col gap-4">
                <img src="/src/assets/media/google.png" alt="Google Logo">
                <img src="/src/assets/media/africa.png" alt="Africa">
            </div>
            <p class="text-[0.5625rem] lg:text-[0.9375rem] ml-2 lg:ml-0">haben bereits die Power des    <span class="font-montBold">Sub-Saharan Gamesstudio </span> genutzt, um geniale Spiele entwickeln zu lassen.</p>
        </div>
    </div>
    <div class="grid grid-cols-2 items-center lg:px-20 ">
        <div class="lg:ml-5">
            <img src="/src/assets/media/theGym-logo.svg" alt="the gym Logo">
        </div>
        <div class="flex  flex-col py-2 ">
            <p class="text-[0.5625rem] lg:text-[0.9375rem] ml-2 lg:ml-0">Viele Talente setzen auf Ruandas intensivstes     <span class="font-montBold">Traineeprogramm</span> für Softwareentwicklung, um Jobready zu werden. </p>
        </div>
    </div>
</section>
</div>