<div id="managedTeams" class="p-40">
  <div class="w-[940px] h-[315px] flex-col space-y-3">
    <div class="font-ralewayBold text-darkergray">
      <h3 class="text-[20px]">Managed Team</h3>
    </div>
    <div class="space-y-5">
    <div class="font-ralewayBold">
      <p class="text-[36px] w-[60%] leading-[40px]">
        Skalieren Sie langfristig Ihre
        <span class="text-primarydarker">Softwareentwicklungsteams</span> ohne
        langwieriges Recruitment
      </p>
    </div>
    <div class="font-montMedium leading-[28px]">
      <p class="w-full text-[20px]">
        kurz beschreiben was und für wen Managed Teams sind anbieten ipsum dolor
        sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est L
      </p>
    </div>
     </div>
  </div>
  <div class="w-[1386px] h-[227px] top-[1196px] left-[8006px] space-x-36">
  <div id="textWithLine" class="relative h-[46px] w-[564px]">
    <h1 class="absolute font-ralewayBold text-[26px] z-10 text-[#040404]">So arbeitet Ojemba</h1>
    <div class="relative bg-primary w-[92.24px] h-[8px] -rotate-[3.11deg] top-6 left-10 z-0 opacity-[40%] "></div>
    <!-- <hr class="bg-primary w-[92.24px] h-[15px] -rotate-[3.11deg] -top-36"> -->
  </div>
  <div class="flex px-32 space-x-[93px]">
    <div id="collapsible" class="w-[511px] p-4 h-[181px] top-[1242px] left-[8277px]">
      <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
        <h3 class="font-montBold text-[20px]">Remote</h3>
        <img src="/src/Assets/media/Plus-icon.svg" class="" />
      </div>
      <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
        <p class="py-5">
          Alle Entwickler:innen durchlaufen eine 6-monatiges
          <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
          Office in Kigali. Hier werden die technischen Fähigkeiten und
          sozialen Kompetenzen für die Arbeit im Projekt vertieft.
        </p>
      </div>
    </div>
    <div id="collapsible" class="w-[511px] p-4 h-[181px] top-[1242px] left-[8881px]">
        <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
          <h3 class="font-montBold text-[20px]">Englischsprachig</h3>
          <img src="/src/Assets/media/Plus-icon.svg" class="" />
        </div>
        <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
          <p class="py-5">
            Alle Entwickler:innen durchlaufen eine 6-monatiges
            <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
            Office in Kigali. Hier werden die technischen Fähigkeiten und
            sozialen Kompetenzen für die Arbeit im Projekt vertieft.
          </p>
        </div>
      </div>

   
    
  </div>
   </div>

   <div class="w-[1393px] h-[448px] top-[1196px] left-[8006px] space-x-36">
    <div id="textWithLine" class="relative h-[46px] w-[564px]">
      <h1 class="absolute font-ralewayBold text-[26px] z-10 text-[#040404]">Ihre Vorteile mit Ojembas Managed Teams</h1>
      <div class="relative bg-primary w-[92.24px] h-[8px] -rotate-[3.11deg] top-6 left-10 z-0 opacity-[40%] "></div>
      <!-- <hr class="bg-primary w-[92.24px] h-[15px] -rotate-[3.11deg] -top-36"> -->
    </div>
    <div class="flex px-32 space-x-[93px] w">
      <div id="collapsible" class="w-[511px] p-4 h-[181px] top-[1242px] left-[8277px]">
        <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
          <h3 class="font-montBold text-[20px]">Hohe Qualität </h3>
          <img src="/src/Assets/media/Plus-icon.svg" class="" />
        </div>
        <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
          <p class="py-5">
            Alle Entwickler:innen durchlaufen eine 6-monatiges
            <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
            Office in Kigali. Hier werden die technischen Fähigkeiten und
            sozialen Kompetenzen für die Arbeit im Projekt vertieft.
          </p>
        </div>
      </div>
      <div id="collapsible" class="w-[511px] p-4 h-[181px] top-[1242px] left-[8881px]">
          <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[20px]">100% Verantwortung</h3>
            <img src="/src/Assets/media/Plus-icon.svg" class="" />
          </div>
          <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
            <p class="py-5">
              Alle Entwickler:innen durchlaufen eine 6-monatiges
              <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
              Office in Kigali. Hier werden die technischen Fähigkeiten und
              sozialen Kompetenzen für die Arbeit im Projekt vertieft.
            </p>
          </div>
        </div>
  
     
      
    </div>
    <div class="flex px-32 space-x-[93px]">
        <div id="collapsible" class="w-[511px] p-4 h-[181px] top-[1242px] left-[8277px]">
          <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[20px]">Riesiger Talentepool</h3>
            <img src="/src/Assets/media/Plus-icon.svg" class="" />
          </div>
          <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
            <p class="py-5">
              Alle Entwickler:innen durchlaufen eine 6-monatiges
              <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
              Office in Kigali. Hier werden die technischen Fähigkeiten und
              sozialen Kompetenzen für die Arbeit im Projekt vertieft.
            </p>
          </div>
        </div>
        <div id="collapsible" class="w-[511px] p-4 h-[181px] top-[1242px] left-[8881px]">
            <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
              <h3 class="font-montBold text-[20px]">Risikoarm</h3>
              <img src="/src/Assets/media/Plus-icon.svg" class="" />
            </div>
            <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
              <p class="py-5">
                Alle Entwickler:innen durchlaufen eine 6-monatiges
                <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                Office in Kigali. Hier werden die technischen Fähigkeiten und
                sozialen Kompetenzen für die Arbeit im Projekt vertieft.
              </p>
            </div>
          </div>
    
       
        
      </div>
     </div>
     <div class="w-[1690px] h-[361px] flex-col space-y-3">
        <div class="font-ralewayBold text-darkergray">
          <h3 class="text-[20px]">African Team Box</h3>
        </div>
        <div class="space-y-5">
        <div class="font-ralewayBold">
          <p class="text-[36px] w-[60%] leading-[40px]">
            MVPs, QuickWins und schnelle Ergebnisse

          </p>
        </div>
        <div class="font-montMedium leading-[28px]">
          <p class="w-full text-[20px]">
            kurz beschreiben was und für wen Managed Teams sind anbieten ipsum dolor
            sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est L
          </p>
        </div>
         </div>
         <div>
         <div id="expand-more" class="flex justify-between border-b-4 border-primarydarker py-2 px-2">
            <h3 class="font-montBold text-[20px]">African Team Box</h3>
            <img src="/src/Assets/media/Expand-more-icon.svg" class="" />
          </div>
          <div></div>
        </div>
      </div>
</div>
