<div class="transform -skew-y-3 text-white mt-8 py-[80px] lg:py-[120px] flex flex-col lg:gap-10 gap-24 ">
<div class="lg:w-[60%] flex flex-col gap-4 ">
    <p class=" text-[20px] lg:text-[30px] font-ralewayBold lg:leading-tight">Qualität steht bei uns an erster Stelle. Mit unserem <span class="text-primary">Trainingsprogramm </span>direkt Vorort werden die juniorigen Mitarbeitenden auf das projektgeschäft vorbereitet.
    </p>
    <p class="font-montRegular text-[14px] lg:text-[16px]">kurze Einführung und den Bezug zu MW darstellen At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L</p>
</div>
<div class=" grid lg:grid-cols-2 gap-8 lg:gap-16 lg:w-[60%] lg:relative  left-72">


    <div id="" class="collapsiblew-[100%] ">
        <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[14px]">Coding Skills </h3>
            <img src="/src/Assets/media/plusI.svg" class="plus2" alt="Plus-Minus" />
        </div>
        <div id="expanded-text-more" class= "font-montMedium text-[16px] overflow-hidden hidden">
            <p class="py-5">
            Alle Entwickler:innen durchlaufen eine 6-monatiges
            <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
            Office in Kigali. Hier werden die technischen Fähigkeiten und
            sozialen Kompetenzen für die Arbeit im Projekt vertieft.
            </p>
        </div>
    </div>
    <div id="" class="collapsiblew-[100%] ">
        <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[14px]">Kommunikations- und Teamfähigke </h3>
            <img src="/src/Assets/media/plusI.svg" class="plus2" alt="Plus-Minus" />
        </div>
        <div id="expanded-text-more" class= "font-montMedium text-[16px] overflow-hidden hidden">
            <p class="py-5">
            Alle Entwickler:innen durchlaufen eine 6-monatiges
            <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
            Office in Kigali. Hier werden die technischen Fähigkeiten und
            sozialen Kompetenzen für die Arbeit im Projekt vertieft. 
            </p>
        </div>
    </div>



</div>

<div id="textWithLine" class=" lg:relative lg:h-[46px] lg:w-[70%] lg:leading-7 ">
    <h1 class="absolute font-ralewayRegular text-[16px] z-10 text-white">Mehr dazu von Matthias Moosburger, Senior Lead IT Architect bei MaibornWolff, 
        der das Ausbildungsprogramm maßgeblich entwickelt hat:</h1>
    <div class="relative bg-primary w-[110px] lg:w-[170px] h-[6px] top-4 -rotate-[0.9deg] left-36 z-0 opacity-[80%]"></div>
    <div class="relative bg-primary w-[110px] lg:w-[170px]  h-[6px]  top-4 -rotate-[0.9deg]  left-36 z-10 opacity-[10%]"></div>
</div>
<!-- <img src="/src/Assets/media/Video-2.webp" alt="" class="my-6"> -->

<!-- <video src=""></video> -->

<div class="">
    <iframe width="1045" height="523" src="https://www.youtube.com/embed/yR1xOQP3L5w" title="Bei uns steht der Mensch an der ersten Stelle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


</div>



