<div class=" py-44 lg:wrapper-lg text-white">
    <h5 class="font-ralewayBold text-[2.25rem] w-[60%]">Ruanda – ein Land der <em class="text-primary">Sub-Sahara</em> mit viel Potential</h5>
    <p class="font-montRegular text-[1.25rem] w-[60%]"><em class="font-semibold">kurze Einführung über 4-5 Zeilen</em> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L</p>
    
</div>