<div class=" py-44 lg:wrapper-lg text-white">
    <h5 class="font-ralewayBold text-[2.25rem] w-[60%]">Ruanda – ein Land der <em class="text-primary">Sub-Sahara</em> mit viel Potential</h5>
    <p class="font-montRegular text-[1.25rem] w-[60%]"><em class="font-semibold">kurze Einführung über 4-5 Zeilen</em> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L</p>
    <ul class="lg:flex lg:items-center w-[100%]">
        <li class="bg-gradient-to-r from-primarydarker pl-44 pt-32 w-[50%] -mr-12">
            <h5>
                <div id="textWithLine" class="relative h-[46px] w-[564px]">
                    <h1 class="absolute font-ralewayBold text-[20px] z-10 text-white">Ein stetig wachsender Markt und Talentpool</h1>
                    <div class="relative bg-primary w-[92.24px] h-[8px] -rotate-[3.11deg] top-6 left-10 z-0 opacity-[40%] "></div>
                </div>
                <ul class="list-disc flex flex-col gap-12 p-12">
                    <li>durchschnittliches jährliches BIP-Wachstum von 7,2 Prozent (2021) (The World Bank, 2022)</li>
                    <li>
                        Einwohnerzahl: 13,46 Millionen (2021) prognostizierte Wachstumrate von 1,4 % pro Jahr bis 2050
                    </li>
                    <li>~70% der Einwohner*innen sind unter 30 Jahre</li>
                    <li>wachsender Markt an bilingual ausgebildeten Arbeitskräften </li>
                    <li>Größer Frauenanteil (61 %) im Parlament weltweit
                    </li>
                </ul>
            </h5>
        </li>
        <li class="">
            <img src="./src/Assets/media/African-continent-with-Ruanda-country-photo.webp" alt="">
        </li>
    </ul>
</div>