<div class="text-white wrapper-sm pt-44 lg:pt-44 lg:pb-14 lg:wrapper-lg ">
    <h5 class="font-ralewayBold text-[2.25rem] lg:w-[60%]">Ruanda – ein Land der <em class="text-primary">Sub-Sahara</em> mit viel Potential</h5>
    <p class="font-montRegular text-[1.25rem] my-12 lg:w-[60%] "><em class="font-semibold">kurze Einführung über 4-5 Zeilen</em> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est L</p>
    <ul class="lg:flex flex-col lg:flex-row lg:items-center w-[100%]">
        <li class="bg-gradient-to-r  from-darkest to-secondary p-4 lg:p-12 lg:pl-28 lg:py-8 lg:w-[70%] mb-10 lg:-mr-20">
               <h5>
                <div id="textWithLine" class="w-[100%] h-[2.875rem] lg:w-[35.25rem]">
                  <h1 class="absolute font-ralewayBold text-[1.25rem] z-10 text-white">Ein stetig wachsender Markt und Talentpool</h1>
                  <div class="relative bg-primary w-[10.625rem] h-[0.5rem] -rotate-[1.04deg] top-4 left-9 z-0 opacity-[60%] "></div>
                  <div class="relative bg-primary w-[10.625rem] h-[0.5rem] -rotate-[1.04deg] top-4 left-9 z-0 opacity-[10%] "></div>
                </div>
               </h5>
                <ul class="w-[100%] px-4 list-disc flex flex-col gap-y-8 py-8 lg:p-8">
                    <li>durchschnittliches jährliches BIP-Wachstum von 7,2 Prozent (2021) (The World Bank, 2022)</li>
                    <li>
                        Einwohnerzahl: 13,46 Millionen (2021) prognostizierte Wachstumrate von 1,4 % pro Jahr bis 2050
                    </li>
                    <li class="font-montBold text-[1.25rem]">~70% der Einwohner*innen sind unter 30 Jahre</li>
                    <li>wachsender Markt an bilingual ausgebildeten Arbeitskräften </li>
                    <li>Größer Frauenanteil (61 %) im Parlament weltweit
                    </li>
                </ul>
        </li>
        <li class="mb-12">
            <img src="/src/assets/media/African-continent-with-Ruanda-country-photo.webp" alt="">
        </li>
    </ul>
</div>
<section class="bg-gradient-to-r  from-darkest to-secondary py-10 mb-28">
    <div class="flex flex-col justify-center items-center  gap-20 mb-12 lg:flex-row lg:gap-[10px] lg:px-[159px] wrapper-sm lg:h-32">
        <div class="flex gap-20 lg:gap-[24px] items-center">
          <div>
            <img src="/src/assets/media/People-in-group-icon.svg" alt="">
          </div>
          <div>
        <p class="text-white font-montRegular text-[15px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
         </div>
        </div>
        <div class="flex gap-20 lg:gap-[1.5rem] items-center">
          <div>
            <img src="/src/assets/media/Speedo-meter-icon.svg" alt="">
          </div>
          <div>
        <p class="text-white font-montRegular text-[0.9375rem]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
         </div>
        </div>
        <div class="flex gap-20 lg:gap-[1.5rem] items-center">
          <div>
            <img src="/src/assets/media/Plane-taking-off-icon.svg" alt="">
          </div>
          <div>
        <p class="text-white font-montRegular text-[0.9375rem]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
         </div>
        </div>
      </div>
</section>